In this notebook, we are going to change a colmn name like FirstName to First_name
We are placing underscore symbol between two coloumnn

Now for understanding Iam taking one table and doing
after this i will use for loop to do for all tables

In [ ]:
dbutils.fs.ls('mnt/silver/SalesLT/')

In [ ]:
dbutils.fs.ls('mnt/gold/')

In [ ]:
input_path = '/mnt/silver/SalesLT/Address/'

In [ ]:
df = spark.read. format('delta').load(input_path)

In [ ]:
display(df)

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql. functions import col, regexp_replace

# Get the list of column names
column_names = df.columns

for old_col_name in column_names:
    # Convert column name from ColumnName to Column_Name format
    new_col_name = "".join(["_" + char if char. isupper() and not old_col_name[i - 1].isupper() else char for i, char in enumerate(old_col_name)]).lstrip("_")

    # Change the column name using withColumnRenamed and regexp_replace
    df = df.withColumnRenamed(old_col_name, new_col_name)

Doing transformation for all tables (Changing Col Names)

In [ ]:
table_name = []

for i in dbutils.fs.ls('mnt/silver/SalesLT/'):
    table_name.append(i.name.split('/')[0])

In [ ]:
for name in table_name:
path = '/mnt/silver/SalesLT/' + name
print (path)
df = spark.read.format('delta').load(path)

# Get the list of column names
column_names = df.columns

for old_col_name in column_names:
    # Convert column name from ColumnName to Column_Name format
    new_col_name = "".join(["_" + char if char. isupper() and not old_col_name[i - 1].isupper() else char for i, char in enumerate(old_col_name)]).lstrip("_")

    # Change the column name using withColumnRenamed and regexp_replace
    df =df.withColumnRenamed(old_col_name, new_col_name)

output_path ='/mnt/gold/SalesLT/' +name+'/'
df.write.format('delta').mode("overwrite").save(output_path)

Now we have data in golder with two level of transformations
one with date tramnsformations and other Col names tarnsformations